.search-bar-container {
    margin-bottom: 10px;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #2c2b2b;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(146, 105, 139);
    
  }

.h1{
    text-align: center;
    background-color: #5c0c51;
    color:white;
    border: 2px solid black;
}
    
  .search-bar-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .search-bar-input {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
 
  